

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Poppins&display=swap');

*{
    
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

html{
    font-size:62.5%;
    font-family: 'Poppins', sans-serif;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background:#27ae44;
    color:#2c2c54;
    padding:.8rem 3rem;
    border:.2rem solid #27ae44;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
  }
  
.btn:hover{
    background:#27ae44;
    letter-spacing: 2px;
    color:#fff;
  }

h2{
  text-align:center;
  font-size:4rem;
  margin:1rem;
  font-family: 'Baloo Bhai 2', cursive;
}

h2 span{
    color:#27ae44;
  }
  /* header section */

header{
    position: fixed;
    top:0; left: 0; right:0;
    background:#fff;
    box-shadow: 5px 4px 10px #16090f;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:.5rem 5%;
} 
header .logo{
    width:15%;
}

header .logo img{
    height:100%;
    width:100%;
}
.navbar ul{
  display: flex;
  list-style: none;
}

.navbar ul li{
  position:relative;
  margin:0 1rem;
  pointer-events: all;
}

.navbar ul li a::before{
  position:absolute;
  content:'';
  width:0;
  bottom:-8px;
  right:50%;
  height:4px;
  border-radius:2px;
  background-color: #27ae44;
}

.navbar ul li:hover a::before{
  color:#27ae44;
  width:100%;
  right:0;
  text-decoration: none;
  transition: .2s all;
}

.navbar ul li a{
  color:#2c2c54;
  transition:.2s;
  font-size: 2rem;
}

header .icons i{
    font-size: 2.5rem;
    color:#2c2c54;
    cursor: pointer;
    margin-right: 2rem;
}
  
header .icons i:hover{
    color:#2c2c54;
}

 /* header search bar design  */

header .search-bar-container{
    position: absolute;
    top:100%; left: 0; right:0;
    padding:1.5rem 2rem;
    background:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
  
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
  
header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color:#000;
    font-size: 1.7rem;
    border-radius: .5rem;
}
  
header .search-bar-container label{
    color:#2c2c54;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
  
header .search-bar-container label:hover{
    color:#27ae44;
}
  
/* login form ddesign */

.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.login-form-container.active{
    top:0;
}
  
.login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#ffff;
    width:50rem;
}
  
.login-form-container form h3{
    font-size: 3rem;
    color:#2c2c54;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
}
  
.login-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color:#ccc;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
  
.login-form-container form .box:focus{
    border-color: #27ae44;
}
  
.login-form-container form #remember{
    margin:2rem 0;
}
  
.login-form-container form label{
    font-size: 1.5rem;
}
  
  .login-form-container form .btn{
    display: block;
    width:100%;
}
  
.login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#000;
}
  
.login-form-container form p a{
    color:#27ae44;
}
  
.login-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
}
  
.login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
}
  
#menu-bar{
    color:#2c2c54;
    border:.1rem solid #2c2c54;
    border-radius: .5rem;
    font-size: 3rem;
    padding:.5rem 1.2rem;
    cursor: pointer;
    display: none;
}

/* home section */

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 10;
    opacity:1;
    color:#ffff;
}
  
.home .content{
    text-align: center;
}
  
.home .content h1{
    font-size: 5.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}
  
.home .content p{
    font-size: 2rem;
    color:#fff;
    padding:.5rem 0;
}

.home .image-container img{
  position: absolute;
  top:0 ;
  left:0;
  z-index: -1;
  height:100%;
  width:100%;
  object-fit: cover;
}

/* category secction */

/* list design */
.category .category-menu ul{
  display:flex;
  text-align:center;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  gap:.5rem;
  margin:2rem;
}

.category .category-menu .menu{
  flex:1 1 70;
  font-size:1.8rem;
  padding:1rem;
  color:#2c2c54;
  margin:1.8rem;
  list-style: none;
  width:14rem;
  border:2px solid #27ae44;
  border-radius:1rem;
}

.category .category-menu .menu:hover{
  background: #27ae44;
  cursor: pointer;
  color:#fff;
}
.category .category-menu  .active{
  background: #27ae44;
  cursor: pointer;
  color:#fff;
}

/* category items design */

.category .category-item{
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
  margin:3rem;
}

.category .category-item .item{
  flex:1 1 18rem;
  text-align: center;
  box-shadow: 0 0 10px rgb(199, 194, 194);
  border-radius: .5rem;
  overflow:hidden;
  position:relative;
}

.category .category-item .item img{
  height:13rem; 
}

.category .category-item .item .discount{
  position: absolute;
  top:.5rem;
  left:.5rem;
  background:#27ae44;
  color:#fff;
  padding:.5rem .8rem;
  font-size:2rem;
}

.category .category-item .item .icons{
  position:absolute;
  top: .3rem;
  right: -5em;
}

.category .category-item .item:hover .icons{
  top:.4rem;
  right:.5rem;
}

.category .category-item .item .icons a{
  display:block;
  height:3.5rem;
  width:3.5rem;
  line-height:3.5rem;
  font-size: 1.3rem;
  color:#000;
  background:#fff;
  border:1px solid #27ae44;
  border-radius:50%;
  margin-top: .2rem;
}

.category .category-item .item h3{
  font-size:1.8rem;
  text-transform: capitalize;
  color:#2c2c54;
  margin-top:0;
}

.category .category-item .item .price{
  font-size:1.8rem;
  color:#333;
  padding:.2rem 0;
}


.category .category-item .item .price span{
  font-size:1.3rem;
  color:#999;
  text-decoration: line-through;
}

.category .category-item .item .quantity{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:1rem 0;
  width:100%;
}

.category .category-item .item .quantity span{
  padding:0 .2rem;
  font-size:1.5rem;
  
}
.category .category-item .item .quantity input{
  border:1px solid #27ae44;
  font-size:1.3rem;
  font-weight: bolder;
  padding: 1rem 0rem;
  padding-left:1rem;
  color: #000;
  margin-right:1rem;
}

.category .category-item .item .fa-shopping-basket{
  display: block;
  border:1px solid #27ae44;
  padding:1rem;
  font-size:2rem;
  margin:1rem;
  color:#000;
} 

.category .category-item .item .fa-shopping-basket:hover{
  color:white;
  background:#27ae44;
}

.category .category-item .item.show{
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.category .category-item .item.hide{
  display:none;
}


/* about section */

.about .row{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about .row .col{ 
  position: relative;
  width:40%;
  padding:2%;
  margin:3rem;
}

.about .row .col h3{
  font-size: 3.3rem;
  padding-bottom:10%;
  margin-top:5rem;
}

.about .row .col  span{
  color:#27ae44;
}

.about .row .col p{
  font-size:1.5rem;
}

.row .col img{
  width:100%;
  height:100%;
  object-fit: cover;
}

/* today-deal */

.today-deal .today-deal-container{
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  justify-content: space-around;
  margin-left:10%;
  margin-right:9%;
  margin-bottom:5rem;
}

.today-deal .today-deal-container .today-deal-box{
 flex: 1 1 20rem;
 position:relative;
 overflow: hidden;
 box-shadow: -8px -8px 12px #ffffff,8px 8px 12px #a3b1c6;
 border : 1px solid rgba(0,0,0,0.3);
 border-radius: 2rem;
}

.today-deal .today-deal-container .today-deal-box img{
  width:100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  top:-100%;
  left:0;
}

.today-deal .today-deal-container .today-deal-box .today-deal-content{
  text-align:center;
  padding:3rem;
  margin-top:2rem;
}

.today-deal .today-deal-container .today-deal-box .today-deal-content h3{
  font-size:2.7rem;
  color:#2c2c54;
}

.today-deal .today-deal-container .today-deal-box .today-deal-content p{
  font-size:1.8rem;
  color:#666;
  padding: .9rem;
}

.today-deal .today-deal-container .today-deal-box:hover img{
  top:0;
}

/* Deal section */
.deal-container{
  background: url('images/img4.jpg') no-repeat;
  background-size:cover;
  padding:3rem;
}

.deal .deal-content p{
  font-size:2rem;
  color:#000;
  padding-bottom:3rem;
  padding-top:3rem;
}
.deal .count-down{
  display:flex;
  gap:1.5rem;
  padding-right:2rem;
}
.deal-box{
  width:9rem;
  background:#fff;
  border: 1px solid black;
  border:1 px solid #27ae44;
  text-align:center;
  margin-bottom:2rem;
}
.deal-box h3{
   color:#000;
   background-color: #fff;
   height:5rem;
   width:100%;
   line-height:5rem;
   font-size:4rem;
}
.deal-box span{
  font-size:2rem;
}
.today-deal-box a{
  border:2px solid #27ae44;
  background: #fff;
  border-radius: 2rem;
}
.today-deal-box a:hover{
  background-color: #27ae44;
  color:#fff;
}
.deal .btn{
  margin-top:1rem;
}

/* footer design */

footer {
  background-color: #2c2c54;
  background-image: linear-gradient(45deg, #2c2c54 0%, #111147 74%);
}

.container .footer-row {
  display:flex;
  flex-wrap: wrap;
  text-align:center;
  justify-content: space-around;
  padding:2rem;
}

.container .footer-row .footer-item .social-links{
  display:flex;
  text-align: center;
} 


.footer-item h3{
  font-size:2.5rem;
  text-align: start;
  text-transform: capitalize;
  color: #27ae44;
  margin-top:3rem;
}

.footer-item p{
  padding-top:0.8rem;
  text-align: start;
  color:#fff;
  font-size: 1.5rem;;
}

.social-links a{
  font-size:3rem;
  color:#fff;
  padding-right: 2rem;
  transition: all 2s ease;
}

.social-links a:hover{
  transform: scale(1.5);
}


@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }
  
  @media (max-width:991px){
  
    section{
      padding:2rem;
    }
  
  }
  
  @media (max-width:768px){
  
    #menu-bar{
      display: initial;
    }
    
    header .logo{
      width:30%;
    }
    header .navbar {
      position: absolute;
      top:100%; right:0; left: 0;
      background: #2c2c54;
      border-top: .1rem solid rgba(124, 93, 93, 0.2);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar ul{
      flex-direction:column;
      margin:1rem;
      display: inline-block;
    }
    header .navbar.active {
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
      color:#ccc;
    }
    header .navbar ul li {
      margin-top:4rem;
      padding-left:1rem;
      border-left: 3px solid #27ae44;
    }
  
    header .navbar ul li a{
      color: #fff;    
      background:#2c2c54;
    }
    header .navbar ul li:hover{
      border :0;
    }
    
    .about .row .col{
      width:100%;
    }
  }
  
  @media (max-width:400px) {
    html{
      font-size:50%;
    }
    .category.category-menu .menu{
      width:10rem;
    }
    
  }